{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="media">
    <img class="rounded-circle account-img" src="{{ '/media/website_images/artinii_logo.jpg' }}">
    <div class="media-body">
      <h2 class="account-heading"><b> Win a Screening with Artinii!</b> </h2>
      <p class="text-secondary"><b>Hey {{ user }}! </b>Submit your movie and win a
        screening on the Summer Prague Festival 2020. Show your movie to hundreds of people.</p>
    </div>
  </div>
  <div class="text-center">
    <a type="button" class="btn-lg btn-warning mt-1" href="{% url 'movie-list' %}">See Submitted Movies</a>
  </div>
  <div class="content-section mt-5">
      <h3>Requirements:</h3>
      <p class='text-muted'>Submission open until May 20, 2020
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">Length: min. 30 minutes</li>
          <li class="list-group-item list-group-item-light">Video quality: min. 1080i (1920x1080)</li>
          <li class="list-group-item list-group-item-light">Audio quality: min. 44.1 kHz/16-bit</li>
          <li class="list-group-item list-group-item-light">Language: Czech/English</li>
        </ul>
      </p>
  </div>
  <div class="content-section">
    <form method = "POST" action="{% url 'amateur-competition' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Submit Your Movie Below!</legend>
        {{ form|crispy  }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Submit My Movie</button>
      </div>
    </form>
  </div>
{% endblock content%}
