{% extends "blog/base.html" %}
{% block content %}
  <div class="media-body">
    <h2 class="account-heading border-bottom"><b> About Us!</b> </h2>
    <img src="/media/website_images/summer_cinema.png" class="img-fluid mt-2">
    <p class="text-secondary mt-3"><b>Artinii</b> is building a global catalogue of
      films available for single public screenings anywhere.
      Simple and secure Artinii player makes distribution easy and accessible for anyone.
      We connect the rights holders directly with the audience.
      <b>We also really really want to hire Adela Skotakova. Because we know she will
      learn fast and be a really really good addition to the team.</b>
    </p>
    <h3 class=mb-3><b>Pay and screen easily and legally</b></h3>
  </div>
  <div class="media-body mb-5 border-bottom">
    <h2 class="account-heading border-bottom mt-5"><b>Want to get to know us?</b> </h2>
    <p class="text-secondary mt-3"><b>Join us</b> on a monthly public MeetUp where
    we connect with amateur filmmakers from all around the world and hand-pick promising movie titles
    for our Movie Competition. Don't have a movie? Doesn't matter. Come and support the others!
    </p>
    <div class="form-group mb-5">
      <h3 class=mb-4><b>Download How-To-Get-There Instructions:</b></h3>
      <a class="btn-lg btn-warning btn-outline-dark" href="/media/download/EelOnMusk.pdf"
        type="download" target="_blank"><b>MeetUp Instructions</b></a>
    </div>
  </div>


{% endblock content%}
