{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section">
    <!-- <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}"></img> -->
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2 text-info" href="{% url 'user-posts-public' post.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <a class="btn btn-secondary btn-sm mt-1 mb-1 ml-3" href="{% url 'post-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1 ml-1" href="{% url 'post-delete' object.id %}">Delete</a>
        {% endif %}
      </div>
      <h1 class="article-title">{{ object.title }}</h1>
      <p class="article-content">{{ object.content }}</p>
      <img class="mt-3 mb-5 img-fluid img-thumbnail" src="{{ object.image.url }}"></img>
      <h2 class="article-title">{{ object.title2 }}</h2>
      <p class="article-content">{{ object.content2 }}</p>
      <img class="mt-3 mb-5 img-fluid img-thumbnail" src="{{ object.image2.url }}"></img>
      <h2 class="article-title">{{ object.title3 }}</h2>
      <p class="article-content">{{ object.content3 }}</p>
      <p class="article-content">{{ object.content4 }}</p>
      <a type="button" class="mt-4 btn-lg btn-info" href="{% url 'movie-list' %}">{{ object.link }}</a>
      <a type="button" class="mt-4 btn-lg btn-info" href="{% url 'movie-list' %}">{{ object.link2 }}</a>
    </div>
  </article>
{% endblock content%}
